.App {
	width: 400px;
	height: 600px;
	font-family: 'Roboto Slab', serif;
	background-color: #fcfcfc;
	position: relative;

	display: flex;
	flex-direction: column;
	align-items: stretch;
}

/* Rodapé da página */

footer {
	text-align: center;
	position: absolute;
	height: var(--footer-height);
	bottom: 0px;
	width: 100%;
	padding: 10px;
	font-size: 14px;
	border-top: 3px solid #fa811b;
	color: #555;
}

footer > p {
	padding-bottom: 5px;
}
