* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--header-height: 80px;
	--footer-height: 80px;
}

body {
	/* border: 1px solid black; */
	width: 400px;
	height: 600px;
	font-family: 'Roboto Slab', serif;
	color: #3c4043;
	font-size: 16px;
}

a {
	color: #1ea7fd;
	text-decoration: none;
	cursor: pointer;
}
